.comment-tile {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px;
}

.comments-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.comment-text {
  font-size: 30px;
}

.comment-author {
  margin-top: -20px;
  font-size: 20px;
  color: blue;
  padding-left: 20%; 
}

.meta-data {
  margin-top: -10px;
}

.comment-date {

}

.mod-status {

}

.main {

}