.comment-tile {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
}

.comments-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.comment-text {
  font-size: 30px;
}

.comment-author {
  margin-top: -20px;
  font-size: 20px;
  color: blue;
  padding-left: 20%; 
}

.meta-data {
  margin-top: -10px;
}

.comment-date {

}

.mod-status {

}

.main {

}

.menu-bar {
  position: sticky;
  top: 0;
  height: 10%;
  background-color: aqua;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu-btn {
  padding: 10px;
  margin: 10px;
  width: 150px;
  height: 40px;
  color: white;
  background-color: blue;
  border-radius: 20px;
  border: 0;
  font-size: 20px;
}

.inline {
  display: inline-block;
  padding: 40px;
}

.charts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.chart-area {
  position: absolute;
  bottom: 10%;
  left: 30%;
}

.chart-reading {
  text-align: center;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.green {
  color: green;
}