.comment-tile {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 20px red;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.01); }

.comments-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.comment-text {
  font-size: 30px;
}

.comment-author {
  margin-top: -20px;
  font-size: 20px;
  color: maroon;
  padding-left: 20%; 
}

.meta-data {
  margin-top: -10px;
}

.stats-container {
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 30px;
  margin: 30px;
  height: 100vw;
}

.delete-stats {
  color: white;
  font-size: 30px;
  text-align: center;
  position: fixed;
  right: 20px;
  top: -10px;
  z-index: 3;
}

.mod-status {

}

.main {
  background-color: maroon;
}

.menu-bar {
  position: sticky;
  top: 0;
  height: 15%;
  background-color: orange;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.logo {
  height: 4%;
  width: 4%;
}

.menu-btn {
  padding: 10px;
  margin: 10px;
  width: 150px;
  height: 40px;
  color: white;
  background-color: maroon;
  border-radius: 20px;
  border: 0;
  font-size: 20px;
}

.delete-btn {
  padding: 10px;
  margin: 10px;
  width: 150px;
  height: 40px;
  color: white;
  background-color: maroon;
  border-radius: 20px;
  border: 0;
  font-size: 20px;
}

.delete-btn:hover {
  color: white;
  background-color: orange;
  cursor: pointer;
}

.menu-btn:hover {
  color: maroon;
  background-color: white;
  cursor: pointer;
}

.inline {
  display: inline-block;
  padding: 40px;
}

.charts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  background-color: white;
  border-radius: 30px;
  color: black;
}

.chart-area {
  position: absolute;
  bottom: 10%;
  left: 30%;
}

.chart-reading {
  text-align: center;
}

.blue {
  color: blue;
}

.red {
  color: maroon;
}

.orange {
  color: orange;
}